<div class="work-container">
  <div>
    <button mat-mini-fab class="btn-float" color="warn">+</button>
  </div>
  <div class="row">
    <app-alert-card class="col-sm-4"></app-alert-card>
    <app-alert-card class="col-sm-4"></app-alert-card>
    <app-alert-card class="col-sm-4"></app-alert-card>
    <app-alert-card class="col-sm-4"></app-alert-card>
    <app-alert-card class="col-sm-4"></app-alert-card>
    <app-alert-card class="col-sm-4"></app-alert-card>
    <app-alert-card class="col-sm-4"></app-alert-card>
    <app-alert-card class="col-sm-4"></app-alert-card>
    <app-alert-card class="col-sm-4"></app-alert-card>
    <app-alert-card class="col-sm-4"></app-alert-card>
    <app-alert-card class="col-sm-4"></app-alert-card>
    <app-alert-card class="col-sm-4"></app-alert-card>
  </div>
</div>

