<div class="container h-100 animated fadeInLeft">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="assets/img/loginSpartanSoft.png" class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="form-login">
          <div class="form-group input-group mb-4">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" formControlName="email" class="form-control input_user" name="email"
                   value="" placeholder="email">
          </div>

          <div class="form-group input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" formControlName="password" class="form-control input_pass" name="password"
                   value="" placeholder="password">
          </div>

          <div class="form-group d-flex justify-content-center mt-5 login_container">
            <button type="submit" name="button"
                    class="form-control btn login_btn">
              Login
            </button>
          </div>
        </form>
      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-center links font_label">
          Don't have an account? <a routerLink="/register" class="ml-2">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center links">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
